@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIGJOHN.otf);
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  width: 70%;
}

h1 {
  font-family: BigJohn;
}

h3, p {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

h3 {
  font-size: 30px;
  display: flex;
}

.myTech p {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #737373;
}

h5 {
  font-family: BigJohn;
  font-size: 20px;
  color: #737373;
}

h6 {
  margin: 10px;
  font-size: 12px;
  font-family: BigJohn
}

button {
  display: flex;
  justify-content:center;
  align-self: center;
  font-family: BigJohn;
  color: #f5a622;
  background-color: #fde6c4;
  outline: none;
  border-style: none;
  width: 160px;
  border-radius: 40px;
  padding: 20px 20px;
}

.container {
  width: 900px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profileInfo {
  display: flex;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  margin-left: 50px;
}

.Cases {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px 0px;
  background-color: yellow;
}

.MyCases {
  display: flex;
  flex-flow: row wrap;
  background-color: lightblue;
}

.caseImage {
  margin-top: 20px;
}

.myCaseText {
  display: flex;
  flex-wrap: wrap;
}

.skillsList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.skillsList p {
  margin: 15px;
}

.studiesList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 15px;
}

.studiesListItemTechnigo {
  width: 50%;
  margin-right: 30px;
}

.studiesListItem {
  width: 50%;
  margin-left: 30px;
}

.heroImage {
  display: flex;
  flex-direction: column;
}

footer {
  border-top: 1px solid #000;
  height: 150px;
  margin-top: 40px;
  background-color: #f5a622;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
