@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  width: 70%;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: 'Fredoka One';
  text-transform: uppercase;
  color: #3D52D5;
  letter-spacing: 1px;
  font-size: 40px;
}

 h2, h3 {
  font-size: 30px;
}

h3, p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h5 {
  font-family: 'Fredoka One';
  text-transform: uppercase;
  font-size: 20px;
  color: #B4C5E4;
  letter-spacing: 1px;
}

h6 {
  margin: 10px;
  font-size: 12px;
  font-family: 'Fredoka One';
  text-transform: uppercase;
}

button {
  display: flex;
  justify-content:center;
  align-self: center;
  font-family: 'Fredoka One';
  text-transform: uppercase;
  color: #3D52D5;
  background-color: #B4C5E4;
  outline: none;
  border-style: none;
  width: 160px;
  border-radius: 40px;
  padding: 20px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: 0.2s;
  opacity: 1;
}

button:hover {
 opacity: 0.9;
}

.container {
  width: 1000px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profileInfo {
  display: flex;
  border: 2px solid #3D52D5;
  width: 100%;
  margin: 0 30px;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  margin-left: 50px;
}

.mytech-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.myTech p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #737373;
}

.MyCases {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 50px 0;
}

.Cases {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px 0;
}

.Cases p {
  margin: 0;
  color: #3D52D5;
}

.caseImage {
  margin-top: 20px;
  width: 100%;
}

.caseImage img {
  width: 100%;
}

.myCaseText {
  display: flex;
  flex-wrap: wrap;
}

.skills-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.skillsList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.skillsList p {
  margin: 15px;
}

.studies-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.studiesList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
}

.studiesListItemTechnigo  {
  width: 50%;
  margin-right: 30px;
}

.studiesListItem {
  width: 50%;
  margin-left: 30px;
}

.project-container {
  width: 900px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project-container a {
  margin-bottom: 30px;
  color: #3D52D5;
  font-family: 'Fredoka One';
}

.heroImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-text-container {
  width: 70%;
  height: 500px;
}

.skills-list-projects-container {
  display: flex;
  justify-content: space-between;
}


footer {
  border-top: 1px solid #000;
  height: 150px;
  margin-top: 40px;
  background-color: #3D52D5;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
