@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

li {
  list-style: none;
  margin: 10px;
  color: #737373;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Fredoka One';
  text-transform: uppercase;
  color: #82a79f;
  letter-spacing: 1px;
  font-size: 40px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #737373;
    margin-right: 50px;
}

h5 {
  font-family: 'Fredoka One';
  text-transform: uppercase;
  font-size: 22px;
  color: #d1e7d2;
  letter-spacing: 1px;
}

h6 {
  margin: 10px;
  font-size: 12px;
  font-family: 'Fredoka One';
  text-transform: uppercase;
}

button {
  display: flex;
  justify-content:center;
  align-self: center;
  font-family: 'Fredoka One';
  text-transform: uppercase;
  background-color: #d1e7d2;
  outline: none;
  border-style: none;
  width: 160px;
  border-radius: 40px;
  padding: 20px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: 0.2s;
  opacity: 1;
}

a {
  color: #82a79f;
  text-decoration: none;
}

button:hover {
 opacity: 0.8;
}

.container {
  width: 1000px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profileInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 30px;
}

.profileInfo img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.aboutMeText {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.aboutMeText p {
  font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #737373;
    margin-right: 50px;
}

.mytech-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.myTech p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #737373;
  margin-right: 50px;
}

.MyCases {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  width: 90%;
  margin-top: 30px;
  margin: 30px 30px 0 30px;
}

.MyCases .Cases {
  width: calc(50% - 20px);
  margin: 10px 0;
  padding: 10px;
}

.Cases p {
  margin: 0;
  color: #82a79f;
  font-size: 17px;
}

.Cases a {
  text-decoration: none;
  width: 80%;
  font-family: 'Source Sans Pro', sans-serif;
}

.caseImage {
  margin-top: 20px;
  height: 250px;
  object-fit: contain;
  width: 100%;
}

.caseImage img {
  width: 100%;
}

.case-title {
  min-height: 20px;
}

.myCaseText {
  display: flex;
  flex-wrap: wrap;
}

.skills-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.skillsList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.studies-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 30px;
}

.studiesList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
}

.studiesListItemFirst, .studiesListItem  {
  width: 50%;
  margin-right: 30px;
}

.studiesList p {
  color: #737373;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.project-container {
  width: 1000px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project-container a {
  color: #82a79f;
  font-family: 'Fredoka One';
}
.heroImage{
  margin-top: 30px;
}

.heroImage img {
  max-width: 100%;
  max-height: 100%;
}

.project-text-container {
  width: 70%;
  height: auto;
  margin-bottom: 30px;

}

.project-text-container P {
  width: 60%;
  list-style: none;
  margin: 10px;
  color: #737373;
  font-size: 16px;
  line-height: 30px;
}

.skills-list-projects-container {
  display: flex;
  justify-content: space-between;
}
.skillsListCode, .skillsListToolbox, .skillsListMore  {
  width: 33.33%;
  text-align: center;
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
  border-top: 1px solid #000;
  height: 150px;
  margin-top: 40px;
  background-color: #82a79f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
